<div class="menu">
    <a routerLink="/info" >Info</a>
    <a routerLink="/images" *ngIf="router.url === '/info'" >New Game</a>
    <a onclick="window.location.reload()" *ngIf="router.url === '/images'" >New Game</a>
    <a (click)="toggle()" *ngIf="router.url === '/images'">{{ buttonText }}</a>
</div>
<div class="score">
    <a style="color:blue" *ngIf="router.url === '/images'">Blue: {{ blueLeft }}</a>
    <a style="color:green" *ngIf="router.url === '/images'">Green: {{ greenLeft }}</a>
</div>
<br>
<div class="message" *ngIf="router.url === '/images'">
    <p *ngIf="router.url === '/images'">Round: {{ actualPlayer }}</p>
    <br>
    <a *ngIf="blueLeft == 0" style="color:blue">Blue Won!</a>
    <a *ngIf="greenLeft == 0" style="color:green">Green Won!</a>
    <a *ngIf="redSelected && actualPlayer == 'Blue'" style="color:green">Green Won!</a>
    <a *ngIf="redSelected && actualPlayer == 'Green'" style="color:blue">Blue Won!</a>
</div>