
    <div class="column">
        <img class="{{ frames[0] }}" (click) = "setToClicked(0)" src="{{ links[0] }}" alt="Picture 1">
    </div>
    <div class="column">
        <img class="{{ frames[1] }}" (click) = "setToClicked(1)" src="{{ links[1] }}" alt="Picture 2">
    </div>
    <div class="column">
        <img class="{{ frames[2] }}" (click) = "setToClicked(2)" src="{{ links[2] }}" alt="Picture 3">
    </div>
    <div class="column">
        <img class="{{ frames[3] }}" (click) = "setToClicked(3)" src="{{ links[3] }}" alt="Picture 4">
    </div>
    <div class="column">
        <img class="{{ frames[4] }}" (click) = "setToClicked(4)" src="{{ links[4] }}" alt="Picture 5">
    </div>



    <div class="column">
        <img class="{{ frames[5] }}" (click) = "setToClicked(5)" src="{{ links[5] }}" alt="Picture 6">
    </div>
    <div class="column">
        <img class="{{ frames[6] }}" (click) = "setToClicked(6)" src="{{ links[6] }}" alt="Picture 7">
    </div>
    <div class="column">
        <img class="{{ frames[7] }}" (click) = "setToClicked(7)" src="{{ links[7] }}" alt="Picture 8">
    </div>
    <div class="column">
        <img class="{{ frames[8] }}" (click) = "setToClicked(8)" src="{{ links[8] }}" alt="Picture 9">
    </div>
    <div class="column">
        <img class="{{ frames[9] }}" (click) = "setToClicked(9)" src="{{ links[9] }}" alt="Picture 10">
      </div>



    <div class="column">
        <img class="{{ frames[10] }}" (click) = "setToClicked(10)" src="{{ links[10] }}" alt="Picture 11">
    </div>
    <div class="column">
        <img class="{{ frames[11] }}" (click) = "setToClicked(11)" src="{{ links[11] }}" alt="Picture 12">
    </div>
    <div class="column">
        <img class="{{ frames[12] }}" (click) = "setToClicked(12)" src="{{ links[12] }}" alt="Picture 13">
    </div>
    <div class="column">
        <img class="{{ frames[13] }}" (click) = "setToClicked(13)" src="{{ links[13] }}" alt="Picture 14">
    </div>
    <div class="column">
        <img class="{{ frames[14] }}" (click) = "setToClicked(14)" src="{{ links[14] }}" alt="Picture 15">
    </div>



    <div class="column">
        <img class="{{ frames[15] }}" (click) = "setToClicked(15)" src="{{ links[15] }}" alt="Picture 16">
    </div>
    <div class="column">
        <img class="{{ frames[16] }}" (click) = "setToClicked(16)" src="{{ links[16] }}" alt="Picture 17">
    </div>
    <div class="column">
        <img class="{{ frames[17] }}" (click) = "setToClicked(17)" src="{{ links[17] }}" alt="Picture 18">
    </div>
    <div class="column">
        <img class="{{ frames[18] }}" (click) = "setToClicked(18)" src="{{ links[18] }}" alt="Picture 19">
    </div>
    <div class="column">
        <img class="{{ frames[19] }}" (click) = "setToClicked(19)" src="{{ links[19] }}" alt="Picture 20">
    </div>
